html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    color: #2e3d49;
    font-size: 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    cursor: default;
}

.deck .card.show {
    animation-name: showAnimation;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.deck .card.hide {
    animation-name: hideAnimation;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.deck .card.match {
    cursor: default;
    color: #2e3d49;
    background: #02ccba;
    font-size: 33px;
    animation-name: freezeAnimation;
    animation-duration: 300ms;
    /* animation-delay: 500ms; */
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.stars li {
    list-style: none;
    display: inline-block;
}

.timer {
    font-family: 'Courier New', Courier, monospace
}
.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .timer {
    float: right;
    margin-right: 20px;
    padding: 2px 0;
}



@keyframes showAnimation {
    from {
        font-size: 0px;
        color: #2e3d49;
        background-color: #2e3d49;
    }
    to {
        font-size: 33px;
        color: #ffffff;
        background-color: #02b3e4;
    }
}

@keyframes hideAnimation {
    from {
        font-size: 33px;
        color: #ffffff;
        background-color: #02b3e4;
    }
    to {
        font-size: 0px;
        color: #2e3d49;
        background-color: #2e3d49;
    }
}

@keyframes freezeAnimation {
    from {
        color: #ffffff;
        background-color: #02b3e4;
    }
    to {
        color: #2e3d49;
        background-color: #02ccba;
    }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    text-align: center;
  }

.modal-content {
    background: #ffffff url('../img/geometry2.png');
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 15% auto;
    width: 60%;
    overflow: auto;
  }

.modal-content .stars{
    display: block;
    padding-bottom: 16px;
}

.close {
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.leaderboard .record .recordId{
    min-width: 40px;
}

.leaderboard .record .timer{
    min-width: 90px;
}

.leaderboard .record p, .leaderboard .record .stars{
    min-width: 100px;
}


.leaderboard .record .recordId, .leaderboard .record .timer, .leaderboard .record p, .leaderboard .record .stars{
    display: inline-block;
    padding: 0 5px;
    margin: 0;
}